<!DOCTYPE html>
<html>
<title>
    Knight's Tour. Oleg Plichko.
</title>
<head lang="en">
</head>
<body>
    <form action="/" method="POST">{% csrf_token %}
    Board Size:<br>
    <input type="text" name="boardsize" value="8">
    <br>
    Start Cell:<br>
    <input type="text" name="cell" value="e2">
    <br><br>
    <input type="submit" value="Submit">
    </form>
    
    {% if moves and boardstring %}
    <h1> Result </h1>
    <h2> Moves: </h2> {{ moves }}
    <h2> Board: </h2> {{ boardstring|linebreaks }}
    {% endif %}
</body>
</html>

